body {
  background-size: cover;
  background-color: black;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Bree Serif', serif;
}

.quote-box {
  background-color: white;
  border-radius: 12px;
  padding: 2em;
  margin: 3em 0em 1em 0em;
}

#author {
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
}

#quote {
  font-size: 30px;
}

#get-quote {
  position: relative;
  border-radius: 12px;
  border: solid 7px;
  color: black;
  background-color: white;
  padding: 5px 10px 5px 10px;
  margin: auto;
  width: 150px;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
}

.quote-flex {
  display: flex;
  flex-direction: row;
}

button {
  justify-content: center;
  outline: none;
}

button:focus {
  outline:none;
}

footer>div {
  display: flex;
  flex-direction: row;
}

footer>div>p {
  justify-content: center; 
  background-color: white;
  border-radius: 12px;
  padding: 3px 20px;
  margin: auto;
}